@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9d9191;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 48px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}
p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-weight: bolder;
    position: relative;
    left: -120px;
}

.cell:hover {
    background-color: #d0d0d0;
}

.popup{
    background-color: rgb(233, 227, 227);
    width: 500px;
    aspect-ratio: 1;
    min-width: fit-content;
    border-radius: 50px;
    position: fixed;
    padding: 30px;
    display: flex;
    align-items: center;
   justify-content: center;
}

.popup .wins{
    position: inherit;
    top: 10%;
    font-size: 120px;
    font-family: cursive;
    color: red;
}
.popup .win{
    top: 30%;
    color: blue;
}

.popup button{
    border: none;
    background-color: rgb(132, 0, 255);
    border-radius: 50px;
    width: 50%;
    aspect-ratio: 2;
    font-size: 80px;
    font-family: 'Handjet', cursive;
    color: white;
    font-weight: bold;
    bottom: 10%;
    position: absolute;
    cursor: pointer;
}

.popup button:hover{
    background-color: rgb(131, 131, 10);
}

.cell{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    text-shadow:
      0 0 7px #18a2d0,
      0 0 10px #a31b1b,
      0 0 21px #431717,
      0 0 42px rgb(31, 78, 62),
      0 0 82px rgb(14, 116, 82),
      0 0 92px rgb(255, 255, 255),
      0 0 102px rgb(164, 210, 36),
      0 0 151px rgb(211, 35, 35);
}
.X{
    color: #00BFFF;
}
.O{
    color: #ff0055;
}
